h1 {
    background-color: lightgrey;
    width : 100%;
    text-align: center;
}

.histoire {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.ecole {
    width: 80%;
    margin: auto;
    margin-top: 20px; 
}