.name {
    color: green;
}

.Header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid green;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 10%;
}

.link {
    color: black;
    text-decoration: none;
}